# {{project_name}}

{{description}}

## Setting up the environment

This project depends on [Python 2.7+ or 3.4+](https://www.python.org/) 
and the [Flask](http://flask.pocoo.org/) web framework.

Once you have installed Python for your environment, you
should also setup a [virtual environment](https://virtualenv.pypa.io/en/stable/)
with [pip](https://pip.pypa.io/en/stable/installing/).

Then, you should install the dependencies required by
the project as follows:

```
$ pip install -r requirements.txt
```

## Getting started

You can run the application as follows:

```
$ python {{project_name}}/runserver.py
```

then point your client at `http://localhost:5000/`.

# History

Created from template ${template_name}, version ${template_version}